.wrapper {
	background: $dark_gray;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.content-wrapper {
	margin: 0 auto;
	overflow: hidden;

	.image {
		max-height: 94vh;
		img {
			width: 100%
		}
	}
}

.content-module {
	width: 80vw;
	max-width: 1800px;
	margin: 1rem auto;
}

@media all and (max-width: 800px) {
	.content-module {
		width: 90vw;
	}
}

.content-module-wide {
	width: 90vw;
	max-width: 2000px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.button {
	border: 1px solid $bright_teal;
	background: $darker_gray;
	color: $bright_teal;
	margin: 0 auto;
	padding: 0.8rem;
	font-size: 0.9rem;
	font-family: $palanquin;
	font-weight: 400;
	max-width: 10rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
}

.button:hover {
	background: $bright_teal;
	color: $dark_gray;
}

a {
	color: $bright_teal;
	font-size: 1rem;
	font-family: $palanquin;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
	transition: text-decoration .5s ease;
}

a:hover {
	text-decoration: underline;
}

.list {
	display: block;
	color: $light_gray;

	li {
		margin: 1rem 0;
	}
}

.hidden {
	visibility: hidden;
}