.social {
	display: flex;
	justify-content: center;
	font-family: $palanquin;
	margin-top: 2rem;
	
	a {
		width: auto;
	}

	.icon {
		background: $darker_gray;
		box-shadow: 0px 2px 6px $darker_gray;
		min-width: 60px;
		padding: 1rem;
		margin-right: 0.5rem;
		text-align: center;

		img {
			height: 60px;
		}

		&:hover {
			background: $teal;

			img {
				fill: $white;
			}
		}

		&:nth-child(last) {
			margin-right: 0;
		}
	}	

}

@media all and (max-width: 800px) {
	.social {

		.icon {
		background: $darker_gray;
		box-shadow: 0px 2px 6px $darker_gray;
		min-width: 60px;
		padding: 1rem;
		margin-right: 0.5rem;
		text-align: center;

			img {
				height: 60px;
			}
		}
	}
}