
// Colors //
$light_gray: #8a8a8a;
$dark_gray: #333333;
$darker_gray: #222222;
$bright_teal: #31E0DB;
$darker_gray_90: rgba(34,34,34,0.9);
$darker_gray_50: rgba(34,34,34,0.5);
$teal: #24A1AA;
$green: #56A08B;
$white: #ffffff;

// Gradients //
$teal_gradient: linear-gradient($bright_teal, $teal, $teal);

// Type //
$poppins: 'Poppins', sans-serif;
$palanquin: 'Palanquin', sans-serif;
